.mat-form-field {
  margin-top: 16px;
}

.file-select-button, .file-name {
  display: inline-block;
  margin: 16px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-top: 12px;
  padding-left: 25%;
}

.example-full-width {
  width: 100%;
}

.example-form-field {
  width: 200px;
}
